@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Hogwart's Enrollment System</h1>
    <p class="lead">This is some stuff talking about Magic and Fantasy</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Raise wand</h2>
        <p>
            More boilerplate about wizards
        </p>
        <p>@Html.ActionLink("Enroll Students", "Index", "Students")</p>
    </div>
</div>