@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="j1">Welcome to the Hogwart's Enrollment System</p>
    <p class="lead">The leading educators in Witchcraft and Wizardry</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="home">Raise Your wand</h2>
        <p class="home">
            and start your childs educational career
        </p>
        <p class="home">@Html.ActionLink("Enroll Student", "Index", "Students")</p>
    </div>
</div>