body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../backgroundw.jpg');
}

.jumbotron {
   
   color:#ffffff;
    font-style:italic;
    background-image:url(../Images/Hogwarts_Castle_in_the_Daethly_Hallows.png);
    font-family:fantasy;
    
}

.home{
    color:#000000;
    display:inline-block;
    font-style:italic;    
}

.j1{
    color:#ffffff;
    font-family:Gisha;
    font-size:300%;
}


p{
    font-size:150%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
